{% extends "login/base.html.twig" %}

{% set active = 'account' %}
{% block bbdo %}{{ 'Login'|trans }}{% endblock %}

{% block  content_primary %}
     {% if error %}
      <div class="alert alert-error">
          {{ error }}
      </div>
  {% endif %}
    <div role="main" class="well well-sm-row row">
        <div class="col-md-12" style="border-bottom: 1px solid rgb(213, 213, 213);">
            <h1 class="text-center" style="font-weight: 800;color: #cd5c5c;">{{ 'BBDO'|trans }}</h1>
        </div>
        <form action="{{ path('administrator_login_check') }}" method="post" novalidate {{ form_enctype(form) }}
              class="form-vertical">
            <div class="col-lg-12" style="padding: 3em 1em;">
                <div class="col-lg-12">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                </div>
                <div class="col-lg-12"><br/>
                    {{ form_label(form.password) }}
                    {{ form_widget(form.password) }}
                </div>
                <div class="col-lg-12"><br/>
                    {{ form_widget(form._token) }}
                    {{ form_widget(form.login) }}
                </div>
            </div>
        </form>
    </div>
{% endblock %}